[submodule "submodules/unocss-preset"]
	path = submodules/windblade
	url = https://github.com/StarLederer/windblade.git
[submodule "submodules/ui"]
	path = submodules/ui
	url = https://github.com/StarLederer/solid-components.git
